.workContainer {
  width: 100%;
  height: 68px;
  border-radius: 18px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#workID {
  background-color: #ffbd00;
}

#yellow {
  background-color: #ffbd00;
}
#blue {
  background-color: #00c8d3;
}
#green {
  /* background-color: #cfdc38; */
  background-color: #43d7b1;
}
#red {
  background-color: #ff8449;
}
#purple {
  background-color: #7c93ff;
}

.workImg {
  margin-left: 24px;
  display: flex;
  align-items: center;
}

.workContent {
  margin-left: 9px;
}

.workContent p,
.rightArea .text p {
  font-size: 12pt;
  color: #fff;
  font-weight: 500;
}

.workContent p {
  width: 150px;
}

.workArea {
  display: flex;
  align-items: center;
}

.rightArea {
  display: flex;
  align-items: center;
}

.rightArea .text {
  display: flex;
  margin-right: 42px;
}

.deleteArea {
  background-color: rgba(255, 255, 255, 0.502);
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 900;
}
