.dateSetting {
  background-color: #fff;
  height: 100vh;
}

.noDateSetting {
  display: none;
}

.dateSettingBar {
  padding-top: 25px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.dateSettingBar div {
  color: #4a90e2;
  font-weight: 500;
  border: none;
  background-color: transparent;
  font-size: 16px;
}

.nameInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

.nameInput input {
  border: 0;
  border-bottom: 1px solid #979797;
  font-size: 22px;
  padding-right: 40px;
  padding-bottom: 5px;
  letter-spacing: 1px;
  color: #000;
  outline: none;
}
.nameInput input::placeholder {
  color: #a9bbc9;
}

.colorSelector {
  position: relative;
  display: flex;
}

.colorOption {
  position: absolute;
  background-color: #f5f5f5;
  width: 24px;
  border-radius: 0 0 3px 3px;
  top: 20px;
}

.noneOption {
  display: none;
}

.colorSelector .colorChoose {
  background-color: #f5f5f5;
  width: 24px;
  border-radius: 3px;
}

.colorOption .colorItem,
.colorChoose .colorDefaultItem {
  border-radius: 3px;
  margin: 4px 3.5px;
  width: 16px;
  height: 16px;
}

.eventForm p:nth-child(2),
.eventForm p:nth-child(4),
.eventForm p:nth-child(6) {
  color: #286bb3;
  font-size: 17px;
  margin-top: 14px;
  font-weight: 500;
}

.deadlinePicker,
.hourPicker,
.datePicker {
  margin-top: 10px;
}

.hourPicker {
  display: flex;
}

.alertText {
  font-size: 15px;
  color: #e15151;
  letter-spacing: 0.2px;
}

.nameAlert {
  color: #e15151;
}
