.monthCalendar {
  box-sizing: border-box;
  font-size: 1rem;
  max-width: 300px;
}

.monthCalendar .dayName {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  align-items: center;
}

.monthCalendar .dayName .week {
  height: 36px;
  line-height: 36px;
  width: calc(100% / 7);
  display: flex;
  justify-content: space-around;
  color: #b7bec5;
  font-weight: 600;
}

.monthCalendar .header .previous {
  flex: 1;
  text-align: left;
  margin-left: 1rem;
}

.monthCalendar .header .next {
  flex: 1;
  text-align: right;
  margin-right: 1rem;
}

.monthCalendar .day {
  font-size: 14px;

  position: relative;
  width: calc(100% / 7);
  display: inline-block;
  background-color: white;
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  z-index: 1;
  text-align: center;
}

.monthCalendar .day div {
  display: inline-block;
  width: 24px;
  position: relative;
  z-index: 100;
  margin-bottom: 5px;
}

.monthCalendar .day .date {
  color: #7c86a2;
  font-weight: 500;
  margin-bottom: 5px;
}

.monthCalendar .day div.before,
.monthCalendar .day div.after {
  color: #d7dae2;
  font-weight: 500;
}

.monthCalendar .day div.selected {
  color: #d3ac4c;
  font-weight: bold;
}

.monthCalendar .day div.today {
  color: #526ca1;
  font-weight: 500;
}

.monthCalendar .day .oldHours {
  font-size: 10px;
  line-height: 16px;
  width: 23px;
  height: 16px;
  text-align: center;
  vertical-align: top;
  border-radius: 20px;
  background-color: #f7f8fc;
  color: #8c96ab;
}

.monthCalendar .day .oldBefore {
  font-size: 10px;
  line-height: 16px;
  width: 23px;
  height: 16px;
  text-align: center;
  vertical-align: top;
  border-radius: 20px;
  background-color: #fefeff;
  color: #dde0e6;
}

.monthCalendar .day .oldHoursNull {
  line-height: 16px;
  width: 20px;
  height: 16px;
  vertical-align: top;
}

.monthCalendar .day .newHours {
  width: 23px;
  height: 16px;
  vertical-align: top;
  line-height: 16px;
  background-color: #a2b3c5;
  border-radius: 20px;
  color: #fff;
  font-size: 10px;
}

.monthCalendar .day .newHoursNull {
  width: 23px;
  height: 16px;
  vertical-align: top;
  color: transparent;
  border-radius: 20px;
  margin-top: 2px;
}

.monthCalendar .hourInput input:nth-child(1) {
  border: none;
  background-color: #a9bbc9;
  width: 300px;
  justify-content: center;
  color: #fff;
  padding-left: 20px;
  margin-top: 5px;
}

.monthCalendar .hourInput input:nth-child(1)::placeholder {
  color: #fff;
  letter-spacing: 0.5px;
}

.monthCalendar .hourInput input:nth-child(2) {
  border: none;
  color: #fff;
  background-color: transparent;
  position: absolute;
  right: 12px;
  height: 45px;
  font-weight: 500;
}

.monthCalendar .hourInput {
  border-radius: none;
  position: relative;
  display: flex;
  height: 40px;
}

.monthCalendar .noneInput {
  display: none;
}

.monthCalendar .triangle {
  position: absolute;
  top: 70px;
  right: 15px;
  width: 15px;
}

.monthCalendar .triangleNone {
  display: none;
}

.monthHeader {
  width: 280px;
  display: flex;
  margin: 10px 0;
  margin-left: 12px;
  justify-content: space-between;
}

.monthHeader .changeButton {
  display: flex;
}

.changeButton .previous,
.changeButton .next {
  color: #8c96ab;
  background-color: #f7f8fc;
  width: 26px;
  border-radius: 40%;
  display: flex;
  justify-content: center;
  height: 22px;
  line-height: 18px;
  align-self: center;
  margin-left: 5px;
}

.monthHeader .current {
  color: #7c86a2;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 600;
}
