.workContainer{
    width: 100%;
    height: 68px;
    border-radius: 18px;
    display:flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#workID{
    background-color: #FFBD00;
}

#yellow{ background-color: #FFBD00;}
#blue{
     background-color: #00C8D3;
}
#green{
    background-color: #CFDC38;
}



.workImg{
   margin-left: 24px;
}

.workContent{
   margin-left: 9px;
}

.workContent p ,.timeArea p{
   font-size: 12pt;
   color: #fff;
   font-weight: 500;
}

.workArea{
    display: flex;
    align-items: center;
}

.timeArea{
    display: flex;
    align-items: center;
    margin-right: 42px;
}

