.lightingContainer {
  margin-top: 30px;
  width: 100%;
}

.offline {
  display: flex;
  letter-spacing: 0.5px;
  color: #4a90e2;
  justify-content: center;
  font-size: 18px;
}

.lightingRequest p {
  margin-left: 17px;

  font-size: 14px;
  color: red;
}
