.navBar {
    width: 100%;
    height: 60px;
    /* background-color: #fff; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navBar img{
   align-items: center;  
}

.navBar h1 {
  font-weight: 400;
  align-items: center;
}