.tabBar {
  max-width: 400px;
  margin: 0 auto;
  max-height: 62px;
  background-color: #fafafa;
  /* position: absolute;
    bottom: 0; */
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  padding-bottom: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.workTab,
.lightingTab,
.settingTab {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.normalState {
  color: transparent;
}

.workTab {
  margin-left: 36px;
}

.settingTab {
  margin-right: 36px;
}

.workTabName p {
  font-size: 13px;
  color: #286bb3;
  font-weight: 500;
}
.lightingTabName p {
  font-size: 13px;
  color: #286bb3;
  font-weight: 500;
}
.settingTabName p {
  font-size: 13px;
  color: #286bb3;
  font-weight: 500;
}
