.weekCalender{
    margin-top: 16px;

}
.dayWeek{
    display: flex;
    justify-content: space-around;
}

.weekCalender p{
    font-weight: 300;
    font-size: 14pt;
}


.date{
    width: 38px;
    height: 144px;
    /* background-color: #fff; */
    display: flex;
    align-items: center;
    justify-content: center;
     margin-top: 18px;
     border-radius: 20px 20px 0 0;
}

.dataChoose{
    width: 38px;
    height: 144px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
    border-radius: 20px 20px 0 0;
    box-shadow: 20px -10px 20px -14px #E5E8EA,-20px -10px 20px -14px #E5E8EA,0 -12px 20px -10px #E5E8EA;
}


.dateContent{

    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}


.dateContent .day{
    /* color: #A9BBC9; */
    color: #E4EAEE;
    font-size: 12pt;
} 
.dateContent .dateNormal{
    /* color: #286BB3; */
    color: #A9BBC9;
    font-size: 14pt;
    font-weight: 400;
} 

.dateContent .hourNum{
    color: #AAAAAA;
    font-size: 14pt;
    font-weight: 400;
} 

.dateContent .hour{
    color: #3D3834;
    font-size: 10pt;
    font-weight: 200;
} 

.dot{
    width: 4px;
    height: 4px;
    border-radius: 10px;
    /* background-color: #FFC926; */
    background-color: #3D3834;
    margin:8px 0;
}

.dotChooseStyle{
    width: 4px;
    height: 4px;
    border-radius: 10px;
    /* background-color: #FFC926; */
    background-color: #FFC926;
    margin:8px 0;
}

.dateContent .hideNum{
    color: transparent;
    font-size: 14pt;
    font-weight: 400;
}

.dateContent .hide{
    color: transparent;
    font-size: 10pt;
    font-weight: 400;
}

.dayWork{
    width: 100%;
    height: 330px;
    background-color: #fff;
    box-shadow: 0px -15px 30px -15px #E5E8EA;
}

.dateContent .dayChooseStyle{
    color: #A9BBC9;
    font-size: 13pt;
    font-weight: 400;
}

.dateContent .dateChooseStyle{
  color: #286BB3;
    font-size: 14pt;
    font-weight: 400;
}

.dateContent .hourChooseStyle{
    color: #000;
    font-size: 14pt;
    font-weight: 400;
}