.weekCalendar {
  margin-top: 16px;
}

.dayWeek {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.monthBar {
  display: flex;
  justify-content: space-between;
}

.monthBar p {
  font-weight: 300;
  font-size: 14pt;
}

.date {
  width: 38px;
  height: 144px;
  /* background-color: #fff; */
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 20px 20px 0 0;
}

.dataChoose {
  width: 38px;
  height: 144px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px 20px 0 0;
  box-shadow: 20px -10px 20px -14px #e5e8ea, -20px -10px 20px -14px #e5e8ea,
    0 -12px 20px -10px #e5e8ea;
}

.dateContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dateContent .day {
  /* color: #A9BBC9; */
  color: #e4eaee;
  font-size: 12pt;
}
.dateContent .dateNormal {
  /* color: #286BB3; */
  color: #a9bbc9;
  font-size: 14pt;
  font-weight: 400;
}

.day-workHour {
  color: #aaaaaa;
  font-size: 14pt;
  font-weight: 400;
}

.dateContent .hour {
  color: #3d3834;
  font-size: 10pt;
  font-weight: 200;
}

.dotChooseStyle {
  width: 4px;
  height: 4px;
  border-radius: 10px;
  /* background-color: #FFC926; */
  background-color: #ffc926;
  margin: 8px 0;
}

.dateContent .hideNum {
  color: transparent;
  font-size: 14pt;
  font-weight: 400;
}

.dateContent .hide {
  color: transparent;
  font-size: 10pt;
  font-weight: 400;
}

.dayWork {
  width: 100%;
  padding: 30px 0;
  background-color: #fff;
  box-shadow: 0px -15px 30px -15px #e5e8ea;
  overflow: scroll;
  height: 250px;
}

.dateContent .dayChooseStyle {
  color: #a9bbc9;
  font-size: 13pt;
  font-weight: 400;
}

.dateContent .dateChooseStyle {
  color: #286bb3;
  font-size: 14pt;
  font-weight: 400;
}

.dateContent .hourChooseStyle {
  color: #000;
  font-size: 14pt;
  font-weight: 400;
}
